.card {
  max-width: 380px;
  background: var(--color-card-background);
  box-shadow: var(--box-shadow);
  padding: 1.3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.card .card-image {
  margin-bottom: 1rem;
}

.card .card-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 0.25rem;
}

.card-header {
  color: var(--color-header);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.card-info {
  color: var(--color-info);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loading {
  position: relative;
}

.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: var(--color-gradient);
  background-size: 200%;
  animation: loading 1s infinite reverse;
}

@keyframes loading {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}F