<div class="card">
  <div class="card-image loading">
    <img alt="Card Background Image"
      src="https://raw.githubusercontent.com/AsmrProg-YT/css-widgets/master/widget%20%234/1.jpg">
  </div>
  <a href="#" class="card-header loading">Card Title Here
  </a>
  <p class="card-info loading">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatem necessitatibus omnis corrupti facere
    distinctio sapiente tempore aperiam, iste numquam ut quas atque nam corporis architecto vel error perferendis aut.
  </p>
</div>