# Core ignore list
.DS_Store
Desktop.ini
# Thumbnail cache files
._*
Thumbs.db
# KDE directory preferences
.directory
# Dependencies
node_modules
# Logs
npm-debug.log*
pnpm-debug.log*
# environment variables
.env
.env.production