.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .cm-scroller,
.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .markdown-reading-view {
    background-color: var(--background-secondary); /*dark bg in 1 pane*/
}

.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .cm-contentContainer {
    margin: auto;
    padding-left: 0!important;
}

.ͼ1 .cm-line {
    padding:0;
}

.workspace-split.mod-vertical .workspace-leaf .cm-content,
.workspace-split.mod-vertical .workspace-leaf .markdown-preview-section {
    padding: 1em;
}

.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .cm-content,
.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .markdown-preview-section {
    max-width:50em!important;
    min-height: 600px!important;
    padding: 6em!important;
    background-color: var(--background-primary);
    margin: auto;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
}

/*Readable line width support*/
.workspace-leaf.mod-active:only-of-type .markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-contentContainer {
    max-width: 50em!important;
}
.workspace-leaf.mod-active:only-of-type .markdown-source-view.mod-cm6.is-line-wrap.is-readable-line-width:not(.is-rtl) .cm-line:not(.HyperMD-table-row) {
    max-width: 100%!important;
}

.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .markdown-preview-view.is-readable-line-width div.markdown-preview-sizer {
    width: auto!important;
}

/*Disable doc view for embeds*/
.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .markdown-embed  .markdown-preview-section {
    min-height: 0!important;
    box-shadow: unset!important;
    padding: 0!important;
    background-color: unset!important;
}

/*Prevent <progress> from stretching to edge of page*/
.workspace-split.mod-vertical .workspace-leaf.mod-active:only-of-type .markdown-preview-section progress {
    max-width: 12em;
}