pre,
code {
	border: 1px solid vars.$border-color;
	background-color: vars.$background-color;
	border-radius: 4px;
}

code {
	padding: 1px 2px;
}

pre {
	padding: 0.25rem 0.5rem;
	overflow-x: auto;

	> code {
		border: 0;
	}
}
