/* Tables */
table {
  margin: 0 auto;
  color: vars.$font-color;
  border: 1px solid vars.$border-color;
  border-collapse: collapse;
  font-size: 14px;
}

table thead th,
table tfoot th {
  background: rgba(0, 0, 0, 0.2);
}

table th,
table td {
  padding: 2px 4px;
  border: 1px solid vars.$border-color;
}
