/* Last Updated: 2023-11-10 */

/* Contains Website View */
#appcontent>#tabbrowser-tabbox>#tabbrowser-tabpanels>.deck-selected>.browserContainer>.browserStack>browser {
  border-radius: 10px;
  margin: 10px;
}

/* Browser Background Color */
.browserStack {
  background: #563d7c;
}

.browserContainer {
  background-color: var(--lwt-accent-color-inactive,
      var(--lwt-accent-color)) !important;
  background-image: var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-repeat: no-repeat, var(--lwt-background-tiling) !important;
  background-position: right top, var(--lwt-background-alignment) !important;
}

#titlebar {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

#forward-button,
#back-button,
#reload-button {
  display: none !important;
}

#sidebar-button {
  margin-left: 10px auto !important;
}

#navigator-toolbox:not(:hover) {
  --is-bar-visible: hidden;
  opacity: 0.2 !important;
  /* 0 */
  height: 40px;
  /* 15px */
  transition: height 300ms ease-in-out, opacity 275ms ease-in-out;
}

#navigator-toolbox {
  background-color: transparent !important;
  overflow: var(--is-bar-visible);
  height: 10px;
  z-index: 1;
  top: 0;
  /* position: fixed; */
  /* width: calc(100% - 610px); */
  /* right: 0; */
}

#navigator-toolbox:hover {
  height: 40px;
  opacity: 1 !important;
  transition: opacity 275ms ease-in-out;
}

#navigator-toolbox:focus-within {
  height: 40px;
  opacity: 1 !important;
  transition: opacity 275ms ease-in-out;
  --is-bar-visible: visible;
}

#nav-bar {
  background-color: #3b3f52 !important;
}

#urlbar-background {
  background-color: #323446 !important;
}

toolbarbutton[open="true"] {
  --is-bar-visible: visible !important;
}

#sidebar {
  border-radius: 10px;
  margin: 10px;
  background: #563d7c;
}

#sidebar-header {
  /* display: none; */
  background: transparent;
}

#sidebar-box {
  min-width: 300px !important;
  max-width: 600px !important;
  min-height: unset !important;
  max-height: unset !important;
}

#sidebar-splitter {
  border: none !important;
  box-shadow: none !important;
  background: transparent;
}